.title {
    text-align: center;
    margin: 2rem 5rem 3rem;
}

.caption {
    text-align: center;
    margin: 1rem 5rem 1rem;
    color: darkslategray;
}

#sudokuGrid {
    margin: 1em auto;
    border-collapse: collapse;
}

.sudokuCell {
    height: 40px;
    width: 40px;
    border: 1px solid;
    text-align: center;
}

.openSudokuCell:hover {
    background-color: red;
}

.activeSudokuCell {
    background-color: lightblue;
    border: 2px solid;
}

.closedSudokuCell {
    font-weight: bold;
    background-color: lightgray;
}

.gameStatus {
    text-align: center;
    margin: 2rem 0 0;
}

.gameButtons {
    text-align: center;
    margin: 1rem 0 0;
}