.title {
    text-align: center;
    margin: 2rem 5rem 3rem;
}

#sudokuGrid {
    margin: 1em auto;
    border-collapse: collapse;
}

.sudokuCell {
    height: 40px;
    width: 40px;
    border: 1px solid;
    text-align: center;
}

.openSudokuCell:hover {
    background-color: red;
}

.activeSudokuCell {
    background-color: lightblue;
    border: 2px solid;
}

.gameStatus {
    text-align: center;
    margin: 2rem 0 0;
}