{% extends 'base.html' %}

{% block head %}
    <style>
        .sudokuCell:first-child {
            border-left: solid;
        }

        .sudokuCell:nth-child(3n) {
            border-right: solid;
        }

        .sudokuRow:first-child {
            border-top: solid;
        }

        .sudokuRow:nth-child(3n) td {
            border-bottom: solid;
        }
    </style>

{% endblock %}

{% block body %}

    <script type="text/javascript">
        function keyHandler(event) {
            keyHandlerTemplate("{{ url_for('keypress') }}", event);
        }

        function resetButtonHandler(event) {
            resetButtonTemplate("{{ url_for('reset') }}", 'RESET', event);
        }

        function childlikeButtonHandler(event) {
            resetButtonTemplate("{{ url_for('reset') }}", 'CHILDLIKE', event);
        }

        function easyButtonHandler(event) {
            resetButtonTemplate("{{ url_for('reset') }}", 'EASY', event);
        }

    </script>

    <h1 class="title">Hello, Sudoku!</h1>

    <div class="sudokuGridContainer">
        {% include 'snippets/sudokugrid.html' %}
    </div>

    <div class="gameStatus">
        {% include 'snippets/gamestatus.html' %}
    </div>

    <div class="gameButtons">
        <button class="resetButton gameButton">Reset Game</button>
        <button class="childlikeButton gameButton">New Game: Childlike</button>
        <button class="easyButton gameButton">New Game: Easy</button>
    </div>



    <script type="text/javascript" src="{{ url_for('static', filename='js/sudoku.js') }}"></script>
{% endblock %}