body {
    /*background-color: #444444;*/
    background-color: #eeeeee;
}

.gridHolder {
    margin-top: 5rem;
}

.gameState {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 24px;
    /*color: #f3f3f3;*/
}

.grid {
    display: table;
    /*width: 60vmin;*/
    /*height: 60vmin;*/
    width: 500px;
    max-width: 95%;
    aspect-ratio: 1 / 1;
    margin-left: auto;
    margin-right: auto;
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
}

.grid>.row {
    display: table-row;
    margin-top: 1rem;
    height: 11.111%;
}

.cell {
    display: table-cell;
    /*padding: 1rem;*/
    width: 11.111%;

    text-align: center;
    vertical-align: middle;
    font-size: 1.2rem;
    border-top: 1px solid gray;
    border-left: 1px solid grey;
    cursor: default;
    color: gray;

    /*border-color: white;*/
}

@keyframes comp-filled-in {
    from {
        background-color: #aa54e1;
        /*color: #643184;*/
        color: white;
    }
    to {

    }
}

@keyframes comp-deleted {
    from {
        background-color: #d70000;
        color: black;
    }

    to {
        background-color: #cfb2b3;
    }
}

.cell.filledByComp {
    animation-name: comp-filled-in;
    animation-duration: 1000ms;
}


.cell.oldCell {
    animation-name: comp-deleted;
    animation-duration: 1000ms;
    text-decoration: line-through;
    color: red;
    background-color: #cfb2b3;
    /*background: linear-gradient(to bottom right, #eeeeee, #eeeeee 48%, #ff6294 48%, #ff6294 52%, #eeeeee 52%, #eeeeee);*/
}

.cell.originalCell {
    color: black;
    background-color: #d1d1d1;
}

.cell.wrongCell {
    background-color: red;
    color: #660000;
}

.cell.wrongCell.activeCell {
    background-color: coral;
}

.cell.activeCell {
    background-color: aqua;
}

.cell.activeCell.originalCell {
    background-color: darkgrey;
}

.cell.top {
    border-top: 3px solid black;
}

.cell.bottom {
    border-bottom: 3px solid black;
}

.cell.right {
    border-right: 3px solid black;
}

.cell.left {
    border-left: 3px solid black;
}

.cell.miniTop {
    border-top: 2px solid black;
}

.cell.miniLeft {
    border-left: 2px solid black;
}

.bottomBar {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

button {
    margin-left: 5px;
    margin-bottom: 5px;
    width: 200px;
    height: 40px;
    /*font-style: italic;*/
    font-size: large;
    font-weight: bold;
}

.new-button {
    background-color: lightblue;
    color: darkblue;
}

.solve-button {
    background-color: lightgreen;
    color: darkgreen;
}