body {
    /*background-color: #444444;*/
}


.gridHolder {
    margin-top: 10rem;
}

.gameState {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    margin-bottom: 1rem;
    /*color: #f3f3f3;*/
}

.grid {
    display: table;
    /*width: 60vmin;*/
    /*height: 60vmin;*/
    width: 500px;
    max-width: 95%;
    aspect-ratio: 1 / 1;
    margin-left: auto;
    margin-right: auto;
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
}

.grid>.row {
    display: table-row;
    margin-top: 1rem;
    height: 11.111%;
}

.cell {
    display: table-cell;
    /*padding: 1rem;*/
    width: 11.111%;

    text-align: center;
    vertical-align: middle;
    font-size: 1.2rem;
    border-top: 1px solid gray;
    border-left: 1px solid grey;
    cursor: default;
    color: gray;

    /*border-color: white;*/
}

.cell.oldCell {
    text-decoration: line-through;
    color: red;
}

.cell.originalCell {
    color: black;
}

.cell.activeCell {
    background-color: aqua;
}

.cell.activeCell.originalCell {
    background-color: red;
}

.cell.top {
    border-top: 3px solid black;
}

.cell.bottom {
    border-bottom: 3px solid black;
}

.cell.right {
    border-right: 3px solid black;
}

.cell.left {
    border-left: 3px solid black;
}

.cell.miniTop {
    border-top: 2px solid black;
}

.cell.miniLeft {
    border-left: 2px solid black;
}

.bottomBar {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}